/Pflichtenhef.synctex.gz
/Pflichtenheft.pdf
/Pflichtenheft.synctex.gz
/tempPartial00000.pdf
/tempPartial00000.synctex.gz

*.aux
*.idx
*.toc
*.out
*.dvi
pflichtenheft/*.log
/tempPartial00000.tex
/tmp
